@model ChasTeknisktTest.Models.Route
@{
    ViewBag.Title = "Chas Tekniskt Test";
}

@section scripts{
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyC4b6l3_xiWijsCCFSnMJ0HahC1Sw8S6Dc">
    </script>
    <script type="text/javascript" src="~/Scripts/DistanceBetweenTwoPoints.js"></script>
    @*<script src="https://maps.googleapis.com/maps/api/distancematrix/json??libraries=places&key=AIzaSyAB0W09vPwzeHmi9sNsUUL9ATZfFoRWwgQ">
        </script>*@
}

<div>
    <h1>Chas Tekniskt Test</h1>
</div>

@*Tar emot input från användaren och skickar sedan iväg en POST till Home/SetRoute*@
@using (Html.BeginForm("SetRoute", "Home", FormMethod.Post))
{
    <div class="col-lg-6">
        <div class="form-group">
            <label for="text">From:</label>
            @Html.TextBoxFor(m => m.Start, new { id = "Start" })
        </div>
        <div class="form-group">
            <label for="text">To:</label>
            @Html.TextBoxFor(m => m.End, new { id = "End" })
        </div>
        <input type="submit" value="Submit" />
    </div>
}

@*Visar en karta som specificeras i propertyn 'Src' i Route-modellen*@
<div class="col-lg-6">
    <div class="col-lg-6">
        <iframe width="600"
                height="450"
                frameborder="0" style="border:0"
                src=@Model.Src allowfullscreen></iframe>
    </div>
</div>

@*Visar sträckan samt den tid det kommer ta att färdas från Start till End*@
<div class="col-lg-6">
    <div id="Distance"></div>
</div>

@*Visar en random katt-bild från ett katt-API*@
<div>
    <img src="http://thecatapi.com/api/images/get?format=src&results_per_page=1" />
</div>
